Bonjour,

J'ai placé la veille sanitaire en copie ({{prenom}} {{nom}}, {{promotion}} {{dept}}).
Vous êtes cas contact. Ainsi, vous devez observer un isolement de 10 jours et réaliser un test PCR au septième jour depuis votre contact. Merci de nous tenir informés du résultat de votre test. Bien sur, si vous développez des symptômes, il est fortement recommandé de consulter un médecin.

Si le résultat est négatif, alors vous pourrez immédiatement reprendre les enseignements en présence, tout en respectant, bien entendu, les gestes barrières et le port du masque.
Si votre résultat est positif, vous devez rester isolé pendant 10 jours à compter de la date de réalisation du test. En cas de fièvre, vous ne pourrez revenir que 48h après sa disparition.

Si vous pensez avoir été en contact sans protection avec certains de vos camarades, merci de nous le faire savoir au plus vite et de nous communiquer leurs noms.

Je vous invite à contacter votre responsable d'année afin d'obtenir le matériel pédagogique utile durant votre isolement.

Si vous avez besoin d'aide ou des questions, n'hésitez pas à revenir vers moi. http://127.0.0.1:8000/students/
Cordialement,

François Delbot